.message {
    padding: 10px;
    margin: 10px;
    width: fit-content;
}

.message__user {
    margin-left: auto;
    color: white;
    text-align: left !important;
}

.message__userCard {
    background-color: #0b81ff !important;
    color: white !important;
    border-radius: 15px !important;
    box-shadow: 0px 7px 7px -7px rgba(0,0,0,1) !important;
    
}

.message__guestCard {
    min-width: 17vh !important;
    background-color: #e9e9eb !important;
    border-radius: 20px !important;
    box-shadow: 0px 7px 7px -7px rgba(0,0,0,0.75) !important;
    text-align: left;
}

.guestcard__title {
    color: orangered;
    font-size: smaller !important;
    font-weight: bold !important;
    padding-bottom: 5%;
}